doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css")


        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Stephen McPhee
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Stephen 
                        span.text-primary McPhee
                    .subheading.mb-5
                        | Littleton, CO 80127 · (303) 908-6992 · 
                        a(href='mailto:name@email.com') stephen.t.mcphee@gmail.com
                    p.lead.mb-5
                        | Proficient in deploying Ruby on Rails within agile frameworks. Adept at merging anatomical insights with coding expertise to drive collaborative solutions. Committed to enhancing value propositions through innovative, iterative approaches to software development.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/smcphee19/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/SMcPhee19')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/StephenMcphee19')
                            i.fab.fa-twitter

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Career Transition
                            .subheading.mb-3 Career Break
                            p
                                | Embarked on a deliberate career transition, leaving my previous role to explore opportunities aligned with my biology degree. Motivated to enhance my skills, I pursued further education, opting for a rigorous seven-month coding program. Specialized in backend engineering with Ruby on Rails, accumulating over 1500 hours of hands-on software work to seamlessly integrate biology expertise with coding proficiency.
                        .flex-shrink-0
                            span.text-primary August 2022 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Server
                            .subheading.mb-3 Le Peep Restaurants
                            p
                                | Versatile roles in food service, adeptly managing host, busser, coffee bar, and dishwasher responsibilities in a fast-paced environment. Successfully balanced part-time commitment during school and transitioned to full-time post-graduation from MSU Denver, showcasing strong multitasking abilities across multiple timelines. Demonstrated adaptability and unwavering commitment to service excellence.
                        .flex-shrink-0
                            span.text-primary May 2017 - August 2022

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Turing School of Software and Design
                            .subheading.mb-3 Back-end Engineering Program
                            div ACCET Certficicate in back-end engineering
                            p Completed a seven-month ACCET-accredited program, accumulating 1500+ hours of hands-on software development experience.
                        .flex-shrink-0
                            span.text-primary January 2023 - August 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Metropolitan State Universty of Denver
                            .subheading.mb-3 Bachelor's Degree - Biology
                            p GPA: 3.25
                            p Five years of experience as a Human Anatomy and Physiology Laboratory Teaching Assistant, involving lecture delivery and the creation/administration of laboratory practicals.
                            p Pursued a transformative educational journey spanning eight years, marked by a dedicated pursuit of my passion. Commenced with Exercise Science, transitioned to Teaching, ultimately finding my true calling in a Biology major, specializing in Human Anatomy and Physiology. This dynamic evolution reflects my commitment to aligning education with genuine passion and purpose.
                        .flex-shrink-0
                            span.text-primary August 2013 - December 2021
            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-ruby-plain
                        li.list-inline-item
                            i.devicon-rails-plain
                        li.list-inline-item
                            i.devicon-rspec-plain
                        li.list-inline-item
                            i.devicon-postgresql-plain
                        li.list-inline-item
                            i.devicon-graphql-plain
                        li.list-inline-item
                            i.devicon-html5-plain
                        li.list-inline-item
                            i.devicon-css3-plain
                        li.list-inline-item
                            i.devicon-tailwindcss-plain
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.devicon-googlecloud-plain
                        li.list-inline-item
                            i.devicon-circleci-plain
                        li.list-inline-item
                            i.devicon-heroku-plain
                        li.list-inline-item
                            i.devicon-redis-plain
                    .subheading.mb-3 What I'm Learning
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.devicon-amazonwebservices-original
                    .subheading.mb-3 What I Want to Learn
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-python-plain
                        li.list-inline-item
                            i.devicon-django-plain
                        li.list-inline-item
                            i.devicon-react-original
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Test Driven Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | REST and GraphQL API Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Projects
            section.resume-section#projects
                div.resume-section-content
                    h2.mb-5 Projects
                    section.project-section
                        h3.subheading.mb-3 P10 Racing
                        img.project-image(src="CHANGE-ME.jpg", alt="CHANGE-ME")
                        a.project-link(href="LINK-TO-REPO", title="Project Repo") Project Repo
                        //- a.project-link(href="LINK-TO-DEPLOYED", title="Deployed") Deployed Link
                        p Placeholder Description
                    section.project-section
                        h3.subheading.mb-3 RentInfrom
                        img.project-image(src="CHANGE-ME.jpg", alt="CHANGE-ME")
                        a.project-link(href="LINK-TO-REPO", title="Project Repo") Front-end Repo
                        a.project-link(href="LINK-TO-REPO", title="Project Repo") Back-end Repo
                        //- a.project-link(href="LINK-TO-DEPLOYED", title="Deployed") Deployed Link
                        p Placeholder Description
                    section.project-section
                        h3.subheading.mb-3 Game Night
                        img.project-image(src="CHANGE-ME.jpg", alt="CHANGE-ME")
                        a.project-link(href="LINK-TO-REPO", title="Project Repo") Back-end Repo
                        a.project-link(href="LINK-TO-DEPLOYED", title="Deployed") Deployed Link
                        p Placeholder Description


            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Beyond immersing myself in the dynamic world of software and tech, I'm a die-hard supporter of the Colorado Avalanche, passionately cheering for my city's sports teams. Alongside my fervor for Formula 1, I even developed a fan app to elevate our fan game from a spreadsheet to a full-fledged web application. When the weather permits, I embrace my love for golf. As a dedicated craft beer enthusiast and enthusiastic cook, I indulge in the culinary arts. My linguistic journey involves daily Japanese practice, aiming to conquer the JLPT.
                    p.mb-0
                        | I find solace in lifting heavy circles off the ground. After a day of coding and learning, my evenings are reserved for engaging conversations and video games with friends scattered across the country.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Eagle Scout - Boy Scouts of America - November 2011
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ACCET-accredited certificate in back-end engineering - Turing School of Software and Desgin 
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - RentInform - Turing School of Software and Desgin - Demo Tech Competition July 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')